# 1. Write a Python Program to Find the Factorial of a Number?

In [30]:
def factorial(n):
    result =1
    for i in range(2,n+1):
        result*=i
    return result
num= int(input("Enter a non negative number: "))
if n<0:
    print("result is invalid")
else:
    result = factorial(num)
    print(f"The factorial of {num}is {result}")

Enter a non negative number: 6
The factorial of 6is 720

In [21]:
factorial(-1)

1

# 2. Write a Python Program to Display the multiplication Table?

In [70]:
def multitable(n):
    for i in range(1,n+1):
        print(f"mutiplication table for {i}")
        for j in range(1,11):
            result = i*j
            
            print(f"{i}*{j} = {result}")
        print("----------")
multitable(30)

mutiplication table for 1
1*1 = 1
1*2 = 2
1*3 = 3
1*4 = 4
1*5 = 5
1*6 = 6
1*7 = 7
1*8 = 8
1*9 = 9
1*10 = 10
----------
mutiplication table for 2
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20
----------
mutiplication table for 3
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30
----------
mutiplication table for 4
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40
----------
mutiplication table for 5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50
----------
mutiplication table for 6
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60
----------
mutiplication table for 7
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70
----------
mutiplication table for 8
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
8*10 = 80
----------
mutiplication table for 9
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81
9*10 = 90
----------
mutiplication table for 10
10*1 = 10
10*2 = 20
10*3 = 30
10*4 = 40
10*5 = 50
10*6 = 60
10*7 = 70
10*8 = 80
10*9 = 90
10*10 = 100
----------
mutiplication table for 11
11*1 = 11
11*2 = 22
11*3 = 33
11*4 = 44
11*5 = 55
11*6 = 66
11*7 = 77
11*8 = 88
11*9 = 99
11*10 = 110
----------
mutiplication table for 12
12*1 = 12
12*2 = 24
12*3 = 36
12*4 = 48
12*5 = 60
12*6 = 72
12*7 = 84
12*8 = 96
12*9 = 108
12*10 = 120
----------
mutiplication table for 13
13*1 = 13
13*2 = 26
13*3 = 39
13*4 = 52
13*5 = 65
13*6 = 78
13*7 = 91
13*8 = 104
13*9 = 117
13*10 = 130
----------
mutiplication table for 14
14*1 = 14
14*2 = 28
14*3 = 42
14*4 = 56
14*5 = 70
14*6 = 84
14*7 = 98
14*8 = 112
14*9 = 126
14*10 = 140
----------
mutiplication table for 15
15*1 = 15
15*2 = 30
15*3 = 45
15*4 = 60
15*5 = 75
15*6 = 90
15*7 = 105
15*8 = 120
15*9 = 135
15*10 = 150
----------
mutiplication table for 16
16*1 = 16
16*2 = 32
16*3 = 48
16*4 = 64
16*5 = 80
16*6 = 96
16*7 = 112
16*8 = 128
16*9 = 144
16*10 = 160
----------
mutiplication table for 17
17*1 = 17
17*2 = 34
17*3 = 51
17*4 = 68
17*5 = 85
17*6 = 102
17*7 = 119
17*8 = 136
17*9 = 153
17*10 = 170
----------
mutiplication table for 18
18*1 = 18
18*2 = 36
18*3 = 54
18*4 = 72
18*5 = 90
18*6 = 108
18*7 = 126
18*8 = 144
18*9 = 162
18*10 = 180
----------
mutiplication table for 19
19*1 = 19
19*2 = 38
19*3 = 57
19*4 = 76
19*5 = 95
19*6 = 114
19*7 = 133
19*8 = 152
19*9 = 171
19*10 = 190
----------
mutiplication table for 20
20*1 = 20
20*2 = 40
20*3 = 60
20*4 = 80
20*5 = 100
20*6 = 120
20*7 = 140
20*8 = 160
20*9 = 180
20*10 = 200
----------
mutiplication table for 21
21*1 = 21
21*2 = 42
21*3 = 63
21*4 = 84
21*5 = 105
21*6 = 126
21*7 = 147
21*8 = 168
21*9 = 189
21*10 = 210
----------
mutiplication table for 22
22*1 = 22
22*2 = 44
22*3 = 66
22*4 = 88
22*5 = 110
22*6 = 132
22*7 = 154
22*8 = 176
22*9 = 198
22*10 = 220
----------
mutiplication table for 23
23*1 = 23
23*2 = 46
23*3 = 69
23*4 = 92
23*5 = 115
23*6 = 138
23*7 = 161
23*8 = 184
23*9 = 207
23*10 = 230
----------
mutiplication table for 24
24*1 = 24
24*2 = 48
24*3 = 72
24*4 = 96
24*5 = 120
24*6 = 144
24*7 = 168
24*8 = 192
24*9 = 216
24*10 = 240
----------
mutiplication table for 25
25*1 = 25
25*2 = 50
25*3 = 75
25*4 = 100
25*5 = 125
25*6 = 150
25*7 = 175
25*8 = 200
25*9 = 225
25*10 = 250
----------
mutiplication table for 26
26*1 = 26
26*2 = 52
26*3 = 78
26*4 = 104
26*5 = 130
26*6 = 156
26*7 = 182
26*8 = 208
26*9 = 234
26*10 = 260
----------
mutiplication table for 27
27*1 = 27
27*2 = 54
27*3 = 81
27*4 = 108
27*5 = 135
27*6 = 162
27*7 = 189
27*8 = 216
27*9 = 243
27*10 = 270
----------
mutiplication table for 28
28*1 = 28
28*2 = 56
28*3 = 84
28*4 = 112
28*5 = 140
28*6 = 168
28*7 = 196
28*8 = 224
28*9 = 252
28*10 = 280
----------
mutiplication table for 29
29*1 = 29
29*2 = 58
29*3 = 87
29*4 = 116
29*5 = 145
29*6 = 174
29*7 = 203
29*8 = 232
29*9 = 261
29*10 = 290
----------
mutiplication table for 30
30*1 = 30
30*2 = 60
30*3 = 90
30*4 = 120
30*5 = 150
30*6 = 180
30*7 = 210
30*8 = 240
30*9 = 270
30*10 = 300
----------

# 3. Write a Python Program to Print the Fibonacci sequence?

In [4]:
nth = int(input("Enter fib_series terms : "))
n1=0
n2=1
count=0
if nth<0:
    print(n1)
elif nth==1:
    print(n2)
else:
    while count<nth:
        print(n1)
        n =n1+n2
        n1=n2
        n2=n
        count+=1

Enter fib_series terms : 10
0
1
1
2
3
5
8
13
21
34

# 4. Write a Python Program to Check Armstrong Number?

In [27]:
def checkArmst(num):
    num_str =str(num)
    n=len(num_str)
    sum=0
    for digits in num_str:
        sum += int(digits)**n
        
    if sum==num:
        return True
    else:
        return False
#num=371

In [29]:
checkArmst(371)

True

# 5. Write a Python Program to Find Armstrong Number in an Interval?

In [38]:
lower_bound = int(input("Enter the lower limit :"))
upper_bound = int(input("Enter the upper limit :"))

for num in range(lower_bound,upper_bound):
    order = len(str(num))
    sum = 0
    temp =num
    while temp>0:
        digit = temp%10
        sum += digit**order
        temp //=10
    if num==sum:
        print(num)

Enter the lower limit :100
Enter the upper limit :1000
153
370
371
407

# 6. Write a Python Program to Find the Sum of Natural Numbers?

In [62]:
def sumNatural(num):
    if num==0:
        return 0
    else:
        return num+sumNatural(num-1)
sumNatural(100)

5050